# Created by .gitignore support plugin (hsz.mobi)
.idea/*

src/TST*

edt/CalDAV/lib/bootstrap/less/*

edt/CalDAV/lib/bootstrap/grunt/*

edt/CalDAV/lib/bootstrap/js/*

edt/CalDAV/lib/DataTables/examples/*

edt/CalDAV/lib/DataTables/examples/unit_testing/*

edt/CalDAV/lib/fpdf/*

edt/CalDAV/lib/jspdf/*

edt/CalDAV/lib/stdClass/*